/* button{
  background-color: red;
} */

button {
  border-radius: 5px;
  /* padding: 13px; */
  outline: none;
  width: 100%;
}

button:disabled {
  opacity: 0.3;
}

.primary {
  background: #36b44a;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.outline {
  color: #344437;
  border: 1px solid #344437;
  background: transparent;
}

.danger {
  color: #ffffff;
  background: #ca0814;
  border: 1px solid transparent;
}

.dark {
  color: #ffffff;
  background: #2f3930;
  border: 1px solid transparent;
}

.danger-outline {
  color: #ca0814;
  background: transparent;
  border: 1px solid #ca0814;
}
