.primaryButton {
  background: #36b44a;
  border-radius: 5px;
  color: #ffffff;
  outline: none;
  border: none;
  width: 100%;
  padding: 13px;
  cursor: pointer;
}

.Btn:disabled {
  opacity: 0.3;
}

.secondaryButton {
  border: 1px solid #344437;
  color: #344437;
  border-radius: 5px;
  outline: none;
  width: 100%;
  padding: 13px;
  cursor: pointer;
  background: transparent;
}
