.overlay {
  background: #18171775;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.ErrorContain {
  background: #ffffff;
  box-shadow: 0px 1px 10px 2px rgba(52, 68, 55, 0.06);
  border-radius: 15px;
  height: 50%;
  padding: 30px 0;
  z-index: 5;
}

.outerContainer {
  /* width: 100%; */

  padding: 28px;
  position: relative;
}

.closeModalX {
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 15px;
  padding: 13px;
  display: inline-flex;
  align-items: center;
  border: 0.2px solid #344437;
  background-color: white;
  width: fit-content;
}

@media screen and (max-width: 800px) {
  .overlay {
    height: 120vh;
  }
  .ErrorContain {
    width: 90% !important;
    text-align: center;
  }
}
