.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
}
.header span {
  color: rgba(47, 57, 48, 0.5);
}

.filterFlex {
  display: flex;
  align-items: center;
}

.filterFlex h3 {
  margin-right: 10px;
}

.filterFlex button {
  margin-left: 15px;
  padding: 10px 15px;
  border: 0.5px solid #344437;
  border-radius: 8px;
}

.flexMenu {
  display: flex;
  justify-content: space-between;
  width: 28%;
  margin: 20px 0;
}

.flexMenu button {
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
}

.flexMenu .active {
  text-decoration: underline;
  color: #36b44a;
}

.tableWrapper {
  box-shadow: 0px 1px 10px 2px rgba(52, 68, 55, 0.06);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(52, 68, 55, 0.12);
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  /* padding: 10px; */
  border-bottom: 1px solid rgba(52, 68, 55, 0.12);
}

th {
  padding: 15px 20px;
  text-align: start;
}

td {
  padding: 15px;
}

.containerAA {
  width: 45%;
}

.btnsFooterAA {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}

.btnsFooterAA .btnBackAA {
  width: 38%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #344437;
}
.btnsFooterAA .btnSaveAA {
  width: 58%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #2f3930;
  color: white;
}

.btnsFooterAA .btnSaveAA:disabled {
  opacity: 0.6;
}
