.container {
    padding: 0 70px 100px  70px;
    width: 100%;
    
}

.formContainer {
    display: flex;
}

.secondContainer {
    margin: 0 10px 0 130px;
    width: 75%;
}

.uploadContainer {
    background: #34443733;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    color: #2F3930;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    cursor: pointer;
}

.company {
    color: #344437;
    text-decoration: underline;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 7px;
    font-weight: 400;
    cursor: pointer;
}

.imageX  {
    width: 130px;
    border-radius: 15px;  
}

.formFlex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.formFlex .formHolder {
    width: 48%;
}

.footer p {
    color: #344437;
    font-size: 0.7rem;
}

.formHolder label {
    color: #2F3930;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
}

.formHolder {
    margin: 0 0 20px 0;
}

.form input, .form select {
    width: 100%;
    background-color: transparent;
    border: 0.5px solid #34443763;
    border-radius: 8px;
    padding: 14px 30px;
    margin-top: 5px;
}


::placeholder {
    color: #344437;
    opacity: 0.5;
}

.backButton {
    display: flex;
    text-decoration: underline;
    color: #344437;
    cursor: pointer;
}

.backButton img {
    width: 5px;
}

.backButton p {
    margin-left: 5px;
}

.title {
    color: #344437;
    margin: 20px 0 30px 0;
    font-size: 1.7rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;  
}

.buttonFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.cancelButton {
    width: 13%;
    color: #344437;
}

.signupButton {
    width: 15%;
    margin-left: 20px;
}