.breadCrumb {
  display: flex;
  align-items: center;
}

.breadCrumb button {
  display: flex;
  align-items: center;
}

.breadCrumb p {
  margin-left: 10px;
  text-decoration: underline;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.flexEdit {
  display: flex;
  align-items: center;
}

.header h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}

.flexEdit h2 {
  color: #36b44a;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  margin-right: 5px;
}

.flexEdit svg {
  stroke: #36b44a;
  margin-top: 5px;
}

.container {
  display: flex;
  width: 100%;
}
.metaSection {
  width: 20%;
}
.inputSection {
  width: 80%;
}

.inputFlex {
  display: flex;
  align-items: center;
}

.metaSection {
  margin-top: 30px;
}

.changeImage button {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
}

.changeImage {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.metaSection h3 {
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #344437;
  margin: 10px 0;
}

.metaSection h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  margin: 10px 0 20px 0;
}

.btns button {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #36b44a;
  margin: 10px 0;
}
