.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
}
.header span {
  color: rgba(47, 57, 48, 0.5);
}

.container {
  width: 45%;
}

.btnsFooter {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
}
