.container {
    background: #2F3930;
    border-radius: 10px;
    width: 500px;
    padding: 40px 40px;
}

.formHolder {
    color: #ACB5BD;
    letter-spacing: 0.08em;
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
}

.formHolder input {
    outline: none;
    border: none;
    padding: 14px 30px 14px 7px;
    border-radius: 5px;
}

.formHolder label {
    font-size: 0.7rem;
    margin: 0 0 8px 0;
}

.footer button {
    background: #36B44A;
    border-radius: 5px;
    color: #FFFFFF;
    outline: none;
    border: none;
    width: 100%;
    padding: 13px;
    cursor: pointer;
}

.forgotPassword {
    display: flex;
    color: rgba(255, 255, 255, 0.87);
    width: 100%;
    justify-content: end;
    padding: 10px 0;
}

.rememberMe {
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    padding: 20px 0;
}

.rememberMe p {
    margin: 0 0 0 8px;
}

.signUp {
    color: #FFFFFF;
    text-align: center;
    padding: 23px 0;
}

.signUp span {
    color: #36B44A;
}

.holder {
    position: relative;
}

.emoji {
    position: absolute;
    top: 70%;
    left: -20%;
}

.passWrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.passWrapper input {
    width: 100%;
}

i {
  position: absolute;
  top: 27%;
  right: 10%;
}


@media screen and (max-width: 800px) {
    .emoji {
        display: none;
    }

    .container {
        width: 100%;
        background: transparent;
        padding: 40px 0;
    }

    .container label {
        color: #344437;
    }

    .container input {
        border: 0.5px solid #344437;
        border-radius: 8px;
    }
}